.hidden{
    display: none;
}
body{
    background: url(../images/categorie-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    font-family: inter;
}
header{
    background-color: rgb(15, 15, 15);
    opacity: 0.8;
    width: 100vw;
    height: 10vh;
    color: white;
    z-index: 1;
    padding-bottom: 2vh;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: rgb(15, 15, 15);
    opacity: 0.8;
    color: white;
    z-index: 1;
    padding-top: 2vh;
    margin-top: 10vh;
}
h1{
    text-align: center;
    margin: auto 0;
    font-family: inter;
    font-weight: bold;
    font-size: 36px;
    
}
.footerText{
    text-align: center;
    margin: auto 0;
    font-family: inter;
    font-size: 22px;
    margin-top: 5vh;
}
.vhBody{
    height: 90vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vh10{
    height: 10vh;
}
.deco{
    height: 5vh;
    width: auto;
    display: flex;
    justify-content: flex-end;
}
.tableau{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sizes{
    height: 70vh;
   
}
.backgroundCol{
    margin-left: auto;
    margin-right: auto;
}
.mobile{
    width: 30vw;
}
table,
td{ 
    color: white;
    margin-top: 5vh;
    height: 5vh;
    width: 2vw;
    border-width:2px ;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none ;
    border-top-style: solid ;
    border-color: black;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.leftBord{
    width: 3vw;
    height: 2vh;
    padding: 10px;
    word-break: normal;
    border-width: 1px;
    border-left-style: solid;
}
thead{
    font-weight: bold;

}
.displayBorder{
   
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
.hiddenBorder{

    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}
.toggle{
    display: flex;
    justify-content: center;
    margin: 1w auto auto auto;
    font-size: 20px;
    font-family: inter;
}
.add{
    color: white;
    display: flex;
    justify-content: center;
    margin: 5vw auto; 
    font-size: 20px;
}
a{
    width: 2vw;
    height: 2vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.input{
    font-size: 20px;
    
}
.inputs{
    appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 5vh;
  line-height: 1.15;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  padding: 0 2vh;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.inputs:disabled {
    cursor: default;
  }
  
.inputs:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.inputs:hover{
    opacity: 0.7;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mb10{
    margin-bottom: 1vh;
}
.textBox{
    font-family: inter;
    font-size: 16px;
}
#deconnexion{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.comment{
    width: 35vw;
    text-align: start;
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
}
.inputs2{
    appearance: button;
  backface-visibility: hidden;
  background-color: black;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 3vh;
  line-height: 1.15;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  padding: 0 1vw;
  margin: 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.decoration{
    text-decoration: underline;
    
}
#deconnexion{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}
.retricitus{
    font-size: 16px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    table{
        font-size: 10px;
        padding: auto;
    }
    .retricitus{
        font-size: 10px;
        text-align: center;
    }
}